<!-- DASHBOARD -->
        <div id="dashboard-section" class="content-section">
            <div class="stats-grid">
               <div class="stat-card">
                    <div class="stat-icon">
                        <i class="fas fa-box"></i>
                    </div>

                    <div class="stat-info">
                        <h3>{{ total_products }}</h3>
                        <p>Total Products</p>
                    </div>
                </div>
              <div class="stat-card">
                <div class="stat-icon">
                    <i class="fas fa-tags"></i>
                </div>

                <div class="stat-info">
                    <h3>{{ total_categories }}</h3>
                    <p>Categories</p>
                </div>
            </div>
                <div class="stat-card">
                    <div class="stat-icon">
                        <i class="fas fa-shopping-cart"></i>
                    </div>

                    <div class="stat-info">
                        <h3>{{ total_orders }}</h3>
                        <p>Total Orders</p>
                    </div>
                </div>
                <div class="stat-card">
                <div class="stat-icon">
                    <i class="fas fa-users"></i>
                </div>

                <div class="stat-info">
                    <h3>{{ total_customers }}</h3>
                    <p>Total Customers</p>
                </div>
            </div>
            <div class="stat-card">
                <div class="stat-icon">
                    <i class="fas fa-indian-rupee-sign"></i>
                </div>

                <div class="stat-info">
                    <h3>₹  {{ total_revenue }}</h3>
                    <p>Total Revenue</p>
                </div>
            </div>

            <div class="stat-card">
                <div class="stat-icon">
                    <i class="fas fa-clock"></i>
                </div>

                <div class="stat-info">
                    <h3>{{ pending_orders }}</h3>
                    <p>Pending Orders</p>
                </div>
            </div>

            <div class="stat-card">
                <div class="stat-icon">
                    <i class="fas fa-ban"></i>
                </div>

                <div class="stat-info">
                    <h3>{{ cancelled_orders }}</h3>
                    <p>Cancelled Orders</p>
                </div>
                
            </div>
                <div class="stat-card">
    <div class="stat-icon">
        <i class="fas fa-credit-card"></i>
    </div>

    <div class="stat-info">
        <h3>{{ total_payments }}</h3>
        <p>Total Payments</p>
    </div>
</div>
            </div>
            <div class="form-container" style="margin-bottom:20px;">
                <div class="form-title"><h3>Recent Orders</h3></div>
                <div class="table-responsive">
                    <table>
                        <thead><tr><th>Order ID</th><th>Customer</th><th>Date</th><th>Amount</th><th>Status</th></tr></thead>
                        <tbody>
                            {% for o in recent_orders %}

<tr>

    <td>#ORD{{ o.id }}</td>

    <td>
        {{ o.customer.firstname }}
        {{ o.customer.lastname }}
    </td>

    <td>
        {{ o.order_date|date:"d M Y" }}
    </td>

    <td>
        ₹{{ o.final_amount }}
    </td>

    <td>

        <span class="status-badge status-{{ o.status|lower }}">
            {{ o.status }}
        </span>

    </td>

</tr>

{% empty %}

<tr>
    <td colspan="5" style="text-align:center;">
        No Orders Found
    </td>
</tr>

{% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="form-container">
                <div class="form-title"><h3>Recent Users</h3></div>
                <div class="table-responsive">
                    <table>
                        <thead><tr><th>User ID</th><th>Name</th><th>Email</th><th>Role</th><th>Status</th></tr></thead>
                       {% for u in recent_users %}
<tr>
    <td>{{ u.id }}</td>
    <td>{{ u.firstname }} {{ u.lastname }}</td>
    <td>{{ u.user_id.email }}</td>
    <td>
        <span class="user-role">
            {{ u.user_id.role }}
        </span>
    </td>
    <td>
        <span class="status-badge status-active">
            Active
        </span>
    </td>
</tr>
{% endfor %}
                    </table>
                </div>
            </div>
            <div class="charts-grid">

    <div class="form-container">

        <div class="form-title">
            <h3>Monthly Revenue</h3>
        </div>

        <canvas id="salesChart"></canvas>

    </div>

    <div class="form-container">

        <div class="form-title">
            <h3>Order Status</h3>
        </div>

        <canvas id="statusChart"></canvas>

    </div>

</div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <script>
            const salesCanvas = document.getElementById("salesChart");

            if (salesCanvas) {
                new Chart(salesCanvas, {
                    type: "line",
                    data: {
                        labels: ["Jan","Feb","Mar","Apr","May","Jun"],
                        datasets: [{
                            label: "Revenue",
                            data: {{ sales_data|safe }},
                            borderColor: "#3b82f6",
                            backgroundColor: "rgba(59,130,246,.2)",
                            fill: true,
                            tension: 0.4
                        }]
                    }
                });
            }

            const statusCanvas = document.getElementById("statusChart");

            if (statusCanvas) {
                new Chart(statusCanvas, {
                    type: "doughnut",
                    data: {
                        labels: ["Pending","Cancelled","Delivered"],
                        datasets: [{
                            data: {{ status_data|safe }},
                            backgroundColor: ["#f59e0b","#ef4444","#22c55e"]
                        }]
                    }
                });
            }
</script>
