<!-- CATEGORIES -->
        <div id="categories-section" class="content-section">
            <div class="form-container">
                <div class="form-title">
                    <h2><i class="fas fa-tags" style="color:#667eea;"></i> Categories Management</h2>
                    <label class="submit-btn" for="nav-addCategory" style="width:auto;padding:10px 20px;margin-top:0;cursor:pointer;">Add Category</label>
                </div>
                {% if messages %}
                    {% for message in messages %}
                        <div style="padding:12px;
                                    background:#dfffe2;
                                    color:#008a2b;
                                    border-radius:8px;
                                    margin-bottom:15px;">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="table-responsive">
                    <table>
                        <thead><tr><th>ID</th><th>Category Name</th><th>Products Count</th><th>Status</th><th>Actions</th></tr></thead>
                       <tbody>

                            {% for c in categories %}

                            <tr>
                                <td>{{  forloop.counter }}</td>
                                <td>{{ c.category_name }}</td>
                                <td>{{ c.products.count }}</td>

                                <td>
                                    <span class="status-badge status-active">
                                        Active
                                    </span>
                                </td>

                                <td>
                                    <div class="table-actions">

                                        <a class="table-action-btn edit-btn"
                                        href="{% url 'edit_category' c.id %}">
                                            <i class="fas fa-edit"></i> Edit
                                        </a>

                                        <a class="table-action-btn delete-btn"
                                        href="{% url 'delete_category' c.id %}">
                                            <i class="fas fa-trash"></i> Delete
                                        </a>

                                    </div>
                                </td>
                            </tr>

                            {% empty %}

                            <tr>
                                <td colspan="5">No Categories Found</td>
                            </tr>

                            {% endfor %}

                            </tbody>
                    </table>
                </div>
            </div>
        </div>
