<!-- ORDERS -->
        <div id="orders-section" class="content-section">
            <div class="stats-grid">

    <div class="stat-card orders-card">
        <div class="stat-icon">
            <i class="fas fa-shopping-cart"></i>
        </div>
        <div class="stat-info">
            <h3>{{ total_orders }}</h3>
            <p>Total Orders</p>
        </div>
    </div>

    <div class="stat-card pending-card">
        <div class="stat-icon">
            <i class="fas fa-clock"></i>
        </div>
        <div class="stat-info">
            <h3>{{ pending_orders }}</h3>
            <p>Pending</p>
        </div>
    </div>

    <div class="stat-card delivered-card">
        <div class="stat-icon">
            <i class="fas fa-check-circle"></i>
        </div>
        <div class="stat-info">
            <h3>{{ delivered_orders }}</h3>
            <p>Delivered</p>
        </div>
    </div>

    <div class="stat-card cancelled-card">
        <div class="stat-icon">
            <i class="fas fa-ban"></i>
        </div>
        <div class="stat-info">
            <h3>{{ cancelled_orders }}</h3>
            <p>Cancelled</p>
        </div>
    </div>

</div>
            <div class="form-container">
                <div class="form-title">

    <h2>
        <i class="fas fa-shopping-cart"></i>
        Orders Management
    </h2>

<form method="GET" class="orders-toolbar">

    <input type="hidden" name="tab" value="orders">
<!-- 
    <div class="search-box">

        <i class="fas fa-search"></i>

        <input
            type="text"
            name="search"
            placeholder="Search Order..."
            class="search-input"
            value="{{ request.GET.search }}">

    </div> -->

    <select name="status" class="filter-select">

        <option value="">All Status</option>

        <option value="Pending" {% if request.GET.status == "Pending" %}selected{% endif %}>Pending</option>

        <option value="Confirmed" {% if request.GET.status == "Confirmed" %}selected{% endif %}>Confirmed</option>

        <option value="Packed" {% if request.GET.status == "Packed" %}selected{% endif %}>Packed</option>

        <option value="Shipped" {% if request.GET.status == "Shipped" %}selected{% endif %}>Shipped</option>

        <option value="Delivered" {% if request.GET.status == "Delivered" %}selected{% endif %}>Delivered</option>

        <option value="Cancelled" {% if request.GET.status == "Cancelled" %}selected{% endif %}>Cancelled</option>

    </select>

    <button type="submit" class="table-action-btn edit-btn">
        <i class="fas fa-search"></i>
        Search
    </button>

</form>

</div>
                <div class="table-responsive">
                    <table>
                        <thead><tr><th>Order ID</th><th>Customer</th><th>Date</th><th>Items</th><th>Total</th><th>Status</th><th>Actions</th></tr></thead>
                        <tbody>

                            {% for o in orders %}

                            <tr>

                                <td>#ORD{{ o.id }}</td>

                                <td>
                                    {{ o.customer.firstname }} {{ o.customer.lastname }}
                                </td>

                                <td>
                                    {{ o.order_date|date:"d M Y" }}
                                </td>

                                <td>
                                    {{ o.items.count }} Item{{ o.items.count|pluralize }}
                                </td>

                                <td>
                                    ₹{{ o.final_amount }}
                                </td>

                                <td>

                                    <span class="status-badge status-{{ o.status|lower }}">
                                        {{ o.status }}
                                    </span>

                                </td>

                                <td>

                                    <div class="table-actions">

                                        <div class="table-actions">

                                            <a href="{% url 'admin_order_details' o.id %}"
                                            class="table-action-btn view-btn">
                                                <i class="fas fa-eye"></i>
                                            </a>

                                            <a href="#"
                                            class="table-action-btn edit-btn">
                                                <i class="fas fa-pen"></i>
                                            </a>

                                            <a href="#"
                                            class="table-action-btn delete-btn">
                                                <i class="fas fa-times"></i>
                                            </a>

                                        </div>

                                    </div>

                                </td>

                            </tr>

                            {% empty %}

                            <tr>

                                <td colspan="7" style="text-align:center;padding:30px;">
                                    No Orders Found
                                </td>

                            </tr>

                            {% endfor %}

                            </tbody>
                    </table>
                </div>
            </div>
        </div>
