<!-- PAYMENTS -->
        <div id="payments-section" class="content-section">
            <div class="form-container">
                <div class="form-title"><h2><i class="fas fa-credit-card" style="color:#667eea;"></i> Payments Management</h2></div>
                <div class="table-responsive">
                    <table>
                        <thead><tr><th>Payment ID</th><th>Order ID</th><th>Customer</th><th>Amount</th><th>Method</th><th>Date</th><th>Status</th><th>Action</th></tr></thead>
<tbody>

{% for p in payments %}

<tr>

    <td>
        {{ p.payment_id }}
    </td>

    <td>
        #ORD{{ p.order.id }}
    </td>

    <td>
        {{ p.order.customer.firstname }}
        {{ p.order.customer.lastname }}
    </td>

    <td>
        ₹{{ p.amount }}
    </td>

    <td>
        {{ p.method }}
    </td>

    <td>
        {{ p.payment_date|date:"d M Y" }}
    </td>

    <td>

        <span class="status-badge status-{{ p.status|lower }}">
            {{ p.status }}
        </span>

    </td>
    <td>

    <a href="{% url 'admin_payment_details' p.id %}"
       class="table-action-btn edit-btn">

        <i class="fas fa-eye"></i>
        View

    </a>

</td>

</tr>

{% empty %}

<tr>

    <td colspan="7" style="text-align:center;padding:25px;">
        No Payments Found
    </td>

</tr>

{% endfor %}

</tbody>
                    </table>
                </div>
            </div>
        </div>
