{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Orders</title>

    <link rel="stylesheet" href="{% static 'customerapp/css/order.css' %}">
</head>
<body>


    <div class="orders-container">

    <h2 class="page-title">
        My Orders
    </h2>

    {% for o in orders %}

    <div class="order-card">

        <div class="order-top">

            <div>

                <h3>
                    Order #{{ o.id }}
                </h3>

                <p>
                    {{ o.order_date|date:"d M Y, h:i A" }}
                </p>

            </div>

            <span class="status status-{{ o.status|lower }}">
                {{ o.status }}
            </span>

        </div>

        <hr>

       {% for item in o.items.all %}

        <div class="product-row">

            <img src="{{ item.product.picture.url }}">

            <div>

                <h4>{{ item.product.product_name }}</h4>

                <p>
                    Qty : {{ item.quantity }}
                </p>

            </div>

            <strong>
                ₹{{ item.price }}
            </strong>

        </div>

        {% endfor %}

        <hr>

        <div class="order-bottom">

            <div>

                <strong>
                    Total :
                </strong>

                ₹{{ o.total_amount }}

            </div>

            <div>

                <a href="#" class="view-btn">
                    View Details
                </a>

                {% if o.status == "Pending" %}

                <a href="#" class="cancel-btn">
                    Cancel
                </a>

                {% endif %}

            </div>

        </div>

    </div>

    {% empty %}

    <div class="empty-order">

        <h3>No Orders Yet 😔</h3>

        <a href="{% url 'customer_dashboard' %}">
            Continue Shopping
        </a>

    </div>

    {% endfor %}

</div>

</body>
</html>